<div id="pageBodyMain">
	<div id="dliveryAdress">
		<%= render 'address' %>
	</div>

	<div id="shoppingCartList">
		<%= render "shared/shopping_cart_list", shopping_cart: @shopping_cart %>
	</div>
</div>
<div id="pageBodySub">
	<div id="total">
		<%= render "shared/shopping_cart_total", shopping_cart: @shopping_cart %>
	</div>
</div>
