<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="login.css" type="text/css" />
        <title>ログイン画面</title>
    </head>

  <div class="form_wrapper">
    <h1>ログイン</h1>
      <form>
        <div class="data_input">
          <input type="email" name="email" required="required" placeholder="ユーザーID">
        </div>
        <div class="data_input">
          <input type="password" name="password" required="required" placeholder="パスワード">
        </div>
        <div class="login_panel">
          <input type="submit" class="button" title="Sign In" value="ログイン">
        </div>
      </form>
    <div class="login_footer">
      <p><a href="about.html">新規の方はこちら</a></p>
    </div>
  </div>
</html>

<!--
<input type="submit" class="button" title="Sign In" onclick="location.href='users.html'"value="ログイン"></input>
-->