<table>
	<caption><h1><%= @contact.name %>さんからの問い合わせ</h1></caption>
	<tbody>
		<tr>
			<th>メールアドレス</th>
			<td><%= @contact.mail %></td>
		</tr>
		<tr>
			<th>内容</th>
			<td><%= @contact.contents %></td>
		</tr>
	</tbody>
</table>
